
.has-small-font-size {
    font-size: 0.75em;
}
.has-medium-font-size {
    font-size: 2em;
}
.has-large-font-size {
    font-size: 4em;
}
.has-huge-font-size {
    font-size: 6em;
}

.has-rss-blue-color {
    color: #00b2e2;
}
.has-rss-dark-blue-color {
    color: #007cb0;
}
.has-rss-grey-color {
    color: #2c3d4a;
}
.has-rss-yellow-color {
    color: #ffc222;
}
.has-rss-red-color {
    color: #e22849;
}
.has-roadsign-brown-color {
    color: #794500;
}
.has-roadsign-green-color {
    color: #00703c;
}
.has-roadsign-red-color {
    color: #e31836;
}
.has-roadsign-blue-color {
    color: #007ac1;
}
.has-roadsign-yellow-color {
    color: #ffd000;
}

.has-rss-blue-background-color {
    background-color: #00b2e2;
}
.has-rss-dark-blue-background-color {
    background-color: #007cb0;
}
.has-rss-grey-background-color {
    background-color: #2c3d4a;
}
.has-rss-yellow-background-color {
    background-color: #ffc222;
}
.has-rss-red-cbackground-olor {
    background-color: #e22849;
}
.has-roadsign-brown-background-color {
    background-color: #794500;
}
.has-roadsign-green-background-color {
    background-color: #00703c;
}
.has-roadsign-red-background-color {
    background-color: #e31836;
}
.has-roadsign-blue-background-color {
    background-color: #007ac1;
}
.has-roadsign-yellow-cbackground-olor {
    background-color: #ffd000;
}
